.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(25, 24, 24);
  color: white;
}

.header__logoImage {
  color: #ff9f00;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__searchInput {
  width: 500px;
  height: 30px;
  border: none;
}

.header__searchIcon {
  color: black;
  background-color: #de8e0d;
  padding: 4px;
}

.header__nav {
  display: flex;
  gap: 40px;
}

.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
