.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141921;
  color: white;
  padding: 0 20px;
  height: 60px;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 20px;
}

.header__searchInput {
  width: 100%;
  height: 30px;
  border: none;
}

.header__searchIcon {
  color: black;
  background-color: #de8e0d;
  padding: 4px;
}

.header__nav {
  display: flex;
  gap: 40px;
}

.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.nav__itemLineTwo {
  font-weight: 800;
}

.nav__itemBasket {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
